@import "../../../node_modules/@angular/material/core/theming/palette.scss";
@import "../../../node_modules/@angular/material/core/theming/theming.scss";

.content {
  padding: 20px;
  display: flex;
  align-items: flex-start;
}

.results {
  flex: 1;
  margin-left: 20px;
}

.results-table {
  width: 100%;
  border: none;
}