<md-toolbar color="primary" class="toolbar">Property search tool</md-toolbar>
<div class="content">
  <app-filters class="section"></app-filters>
  <md-card class="section results">
    <md-card-content>
      <table class="mdl-data-table results-table">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Thumbnail</th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Location</th>
            <th>Added</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let property of properties">
            <td class="mdl-data-table__cell--non-numeric">
              <img src="{{ property.thumbnailUrl }}" alt="" />
            </td>
            <td class="mdl-data-table__cell--non-numeric">{{ property.title }}</td>
            <td class="mdl-data-table__cell--non-numeric">{{ property.location }}</td>
            <td>{{ property.added }}</td>
            <td>{{ property.price }} zł</td>
          </tr>
        </tbody>
      </table>
    </md-card-content>
  </md-card>
</div>