<md-toolbar color="primary" class="toolbar">Property search tool</md-toolbar>
<div class="content">
  <app-filters class="section" [filters]="filters" (submit)="onSearchSubmit($event)"></app-filters>
  <md-card class="section results">
    <md-card-content>
      <div *ngIf="result && !loading">
        <app-search-result-table [result]="result" [page]="page" (pageChange)="onPageChange($event)"></app-search-result-table>
      </div>
      <div *ngIf="!result && !loading" class="no-results-yet">
        <md-icon>info</md-icon> Begin your search using filters on the left.
      </div>
      <div *ngIf="loading" class="loading">
        <md-spinner mode="indeterminate"></md-spinner>
      </div>
    </md-card-content>
  </md-card>
</div>